body {
  font-family: "Open Sans";
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.green-container {
  background-color: rgb(0, 152, 136);
  height: 20vh;
  width: 100vw;
}

.grey-container {
  background-color: rgb(223, 223, 223);
  height: 80vh;
  width: 100vw;
}

.background {
  display: flex;
  flex-direction: column;
}

.window {
  height: 90vh;
  width: 90vw;
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 1em gray;
}

.menu {
  height: 90vh;
  width: 25vw;
  background-color: rgb(254, 255, 255);
  display: flex;
  flex-direction: column;
}

.current-chat {
  height: 90vh;
  width: 65vw;
  background-color: rgb(229, 220, 217);
}

.header {
  height: 9vh;
  background-color: rgb(238, 238, 238);
  border: solid 1px rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messages-container {
  height: 71.8vh;
  overflow-y: scroll;
}

.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 12px;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

i {
  color: gray;
}

.icons i {
  margin-right: 35px;
}

.search-container {
  height: 5.6vh;
  background-color: rgb(254, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-container input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 14px;
  width: 70%;
}

.icons {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.group-options {
  display: flex;
  justify-content: flex-end;
}

.opcoesgrupo i {
  margin-right: 30px;
  margin-left: 10px;
}

.group-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4,
h5 {
  padding: 0px;
  margin: 0px;
}

h5 {
  color: gray;
  font-size: 12px;
}

aside {
  display: inline-block;
  vertical-align: top;
}
aside ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 75vh;
}
aside li {
  padding: 0px;
}
aside li:hover {
  background-color: rgb(233, 234, 237);
}
aside li div {
  display: inline-block;
  vertical-align: top;
}
li h5 {
  margin-top: 5px;
}

.friend {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
}

.last-message {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  max-height: 10vh;
}

h6 {
  margin-top: 4px;
  color: gray;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(142, 142, 142);
}

.type-message {
  height: 9vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.type-message i {
  margin: 20px;
  margin-right: 30px;
}

.type-message input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 18px;
  width: 90%;
  height: 50%;
  border-radius: 7px;
}

.speech-wrapper {
  padding: 30px 40px;
  height: 60vh;
}

.bubble {
  width: 340px;
  height: auto;
  display: block;
  background: #f5f5f5;
  border-radius: 7px;
  box-shadow: 2px 2px px lightgray;
  position: relative;
  margin: 0 0 25px;
}

.txt {
  padding: 8px 55px 8px 14px;
}

.name1,
.name2,
.name3,
.name4,
.name5 {
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 4px;
}

.name1 {
  color: #3498db;
}
.name2 {
  color: #ab1212;
}
.name3 {
  color: #de9c2b;
}
.name4 {
  color: #208634;
}
.name5 {
  color: #5f3f25;
}

.message {
  font-size: 12px;
  margin: 0;
  color: #2b2b2b;
}

.timestamp {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-transform: uppercase;
  color: #999;
}

.bubble-arrow {
  position: absolute;
  bottom: 2px;
  left: -16px;
  content: "";
  border: 0 solid transparent;
  border-top: 9px solid #f5f5f5;
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(145deg);
}
